redis==4.5.4
elasticsearch[async]==8.7.0
fastapi==0.95.1
httpx==0.24.0
orjson==3.8.10
pydantic==1.10.7
pytest==6.2.5
uvicorn==0.21.1
gunicorn==20.1.0
uvloop; sys_platform != "win32" and implementation_name == "cpython"
pydantic[dotenv]==1.10.7
pytest-docker-compose==3.2.1
aioretry==5.0.2